Repository OpenXiangShan/XiangShan-Design-Doc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cebarobot, @Tang-Haojin, @Gao-Zeyu, @linjuanZ

doc(LSU): update StoreUnit svg and ref pic name
  docs/memblock/LSU/StdExeUnit.md
  docs/memblock/LSU/figure/LSU-StoreUnit.svg
Owners: @linjuanZ

change title to first level
  docs/cache/l2cache/downstream/LinkMonitor.md
Owners: @linjuanZ

build: add readthedocs settings
  .readthedocs.yaml
Owners: @cebarobot, @Tang-Haojin

docs(LSU): remove the incorrect parameter description
  docs/memblock/LSU/LSU.md
Owners: @linjuanZ

use source SVG files
  docs/cache/l2cache/downstream/figure/LinkMonitor.svg
  docs/cache/l2cache/downstream/figure/RXDAT.svg
  docs/cache/l2cache/downstream/figure/RXRSP.svg
  docs/cache/l2cache/downstream/figure/RXSNP.svg
  docs/cache/l2cache/downstream/figure/TXDAT.svg
  docs/cache/l2cache/downstream/figure/TXREQ.svg
  docs/cache/l2cache/downstream/figure/TXRSP.svg
Owners: @linjuanZ

doc(StdExeUnit): fix ref pic name
  docs/memblock/LSU/StdExeUnit.md
Owners: @linjuanZ

use source file of GrantBuffer
  docs/cache/l2cache/upstream/figure/GrantBuffer.svg
Owners: @linjuanZ

Delete GrantBuffer.svg
  docs/cache/l2cache/upstream/figure/GrantBuffer.svg
Owners: @linjuanZ

change to source SVG file
  docs/cache/l2cache/upstream/figure/GrantBuffer.svg
  docs/cache/l2cache/upstream/figure/SinkA.svg
  docs/cache/l2cache/upstream/figure/SinkC.svg
Owners: @linjuanZ

update source file
  docs/cache/l2cache/upstream/figure/GrantBuf.svg
Owners: @linjuanZ

Deleted
  docs/cache/l2cache/upstream/figure/GrantBuffer.svg
Owners: @linjuanZ

docs(CoupledL2): add overview of CoupledL2
  docs/cache/l2cache/CoupledL2.md
  docs/cache/l2cache/DataStorage.md
  docs/cache/l2cache/Directory.md
  docs/cache/l2cache/MMIOBridge.md
  docs/cache/l2cache/figure/CHI-CoupledL2-Acquire.svg
  docs/cache/l2cache/figure/CHI-CoupledL2-Snoop.svg
  docs/cache/l2cache/figure/CHI-CoupledL2-SoC.svg
  docs/cache/l2cache/figure/CHI-CoupledL2-cache-alias.svg
  docs/cache/l2cache/figure/CHI-CoupledL2-microArch.svg
  docs/cache/l2cache/figure/directory.svg
  docs/memblock/LSU/LSU.md
Owners: @linjuanZ

Add files via upload
  docs/cache/l2cache/figure/RequestBuf.svg
Owners: @linjuanZ

add reference svg file
  docs/cache/l2cache/ReqBuf.md
Owners: @linjuanZ

docs(HPM): add Topdown docs
  docs/backend/HPM.md
Owners: @Tang-Haojin

docs(ICache): add backendException & softPrefetch
  docs/frontend/ICache/ICache.md
  docs/frontend/figure/ICache/ICache/prefetch_mux.drawio
  docs/frontend/figure/ICache/ICache/prefetch_mux.drawio.png
Owners: @Gao-Zeyu

update mkdocs for BPU and Pruned_Address
  mkdocs.yml
Owners: @cebarobot, @Tang-Haojin

chore(struct): rename index.md to .index.md
  docs/frontend/.index.md
  docs/frontend/BPU/.index.md
Owners: @Gao-Zeyu

chore(struct): rename some files in frontend part
  docs/frontend/.index.md
  docs/frontend/BPU/.index.md
  docs/frontend/BPU/README.md
  docs/frontend/BPU/index.md
  docs/frontend/FTQ/README.md
  docs/frontend/FTQ/index.md
  docs/frontend/ICache/.index.md
  docs/frontend/ICache/README.md
  docs/frontend/ICache/index.md
  docs/frontend/IFU/.index.md
  docs/frontend/IFU/README.md
  docs/frontend/IFU/index.md
  docs/frontend/Pruned_Address/index.md
  mkdocs.yml
Owners: @Gao-Zeyu, @cebarobot, @Tang-Haojin

chore(struct): rename some files in backend and memblock
  docs/backend/CtrlBlock/.index.md
  docs/backend/CtrlBlock/index.md
  docs/memblock/DCache/.index.md
  docs/memblock/DCache/index.md
  docs/memblock/LSU/.index.md
  docs/memblock/LSU/LSQ/.index.md
  docs/memblock/LSU/VLSU/.index.md
  docs/memblock/LSU/VLSU/index.md
  docs/memblock/LSU/index.md
Owners: @Tang-Haojin, @linjuanZ

chore(mkdocs): complete nav in mkdocs.yml
  mkdocs.yml
Owners: @cebarobot, @Tang-Haojin

chore(mkdocs): clear warnings
  docs/frontend/ICache/IPrefetchPipe.md
  docs/frontend/ICache/WayLookup.md
  docs/frontend/ICache/index.md
  docs/frontend/IFU/index.md
  docs/memblock/LSU/index.md
  docs/memblock/MMU/L1TLB.md
Owners: @Gao-Zeyu, @linjuanZ

docs(Error): fix respErr content
  docs/cache/l2cache/Error.md
Owners: @linjuanZ

docs(ICache): update figure
  docs/frontend/ICache/WayLookup.md
  docs/frontend/ICache/index.md
  docs/frontend/figure/ICache/ICache/icache_structure.drawio
  docs/frontend/figure/ICache/ICache/icache_structure.png
  docs/frontend/figure/ICache/IPrefetchPipe/iprefetchpipe_s1_fsm.drawio
  docs/frontend/figure/ICache/IPrefetchPipe/iprefetchpipe_s1_fsm.png
  docs/frontend/figure/ICache/IPrefetchPipe/iprefetchpipe_structure.drawio
  docs/frontend/figure/ICache/IPrefetchPipe/iprefetchpipe_structure.png
  docs/frontend/figure/ICache/MainPipe/mainpipe_structure.drawio
  docs/frontend/figure/ICache/MainPipe/mainpipe_structure.png
  docs/frontend/figure/ICache/MissUnit/missunit_structure.drawio
  docs/frontend/figure/ICache/MissUnit/missunit_structure.png
  docs/frontend/figure/ICache/WayLookup/waylookup_structure.drawio
  docs/frontend/figure/ICache/WayLookup/waylookup_structure.png
  docs/frontend/figure/ICache/WayLookup/waylookup_structure_rw.png
  docs/frontend/figure/ICache/WayLookup/waylookup_structure_update.png
Owners: @Gao-Zeyu

docs(BPU): update the description of the return stack sub-predictor
  docs/frontend/BPU/RAS.md
  docs/frontend/figure/BPU/RAS/structure.svg
Owners: @Gao-Zeyu

add Snp RespErr=NDERR description
  docs/cache/l2cache/Error.md
Owners: @linjuanZ

docs(ICache): update figure
  docs/frontend/ICache/WayLookup.md
  docs/frontend/ICache/index.md
  docs/frontend/figure/ICache/ICache/icache_structure.drawio
  docs/frontend/figure/ICache/ICache/icache_structure.png
  docs/frontend/figure/ICache/IPrefetchPipe/iprefetchpipe_s1_fsm.drawio
  docs/frontend/figure/ICache/IPrefetchPipe/iprefetchpipe_s1_fsm.png
  docs/frontend/figure/ICache/IPrefetchPipe/iprefetchpipe_structure.drawio
  docs/frontend/figure/ICache/IPrefetchPipe/iprefetchpipe_structure.png
  docs/frontend/figure/ICache/MainPipe/mainpipe_structure.drawio
  docs/frontend/figure/ICache/MainPipe/mainpipe_structure.png
  docs/frontend/figure/ICache/MissUnit/missunit_structure.drawio
  docs/frontend/figure/ICache/MissUnit/missunit_structure.png
  docs/frontend/figure/ICache/WayLookup/waylookup_structure.drawio
  docs/frontend/figure/ICache/WayLookup/waylookup_structure.png
  docs/frontend/figure/ICache/WayLookup/waylookup_structure_rw.png
  docs/frontend/figure/ICache/WayLookup/waylookup_structure_update.png
Owners: @Gao-Zeyu

docs(CoupledL2): correct Snoop Nesting Tables in chapter MSHR
  docs/cache/l2cache/MSHR.md
Owners: @linjuanZ

docs(BypassNetwork): fix some format error
  docs/backend/DataPath/BypassNetwork.md
  docs/backend/DataPath/figure/BypassNetwork.svg
Owners: @Tang-Haojin

modify MMIOBridge TXDAT description
  docs/cache/l2cache/Error.md
Owners: @linjuanZ

docs(CoupledL2): correct WriteEvictOrEvict nesting in chapter MSHR
  docs/cache/l2cache/MSHR.md
Owners: @linjuanZ

docs(CoupledL2): correct RetToSrc of SnpUniqueFwd in chapter MSHR
  docs/cache/l2cache/MSHR.md
Owners: @linjuanZ

docs(style guide): update xiangshan style guide
  docs/figure/scalastyle.png
  docs/style guide.md
Owners: @cebarobot, @Tang-Haojin

feat(docs): update file structure
  docs/.index.md
  docs/style-guide/figure/scalastyle.png
  docs/style-guide/index.md
Owners: @cebarobot, @Tang-Haojin

.github/CODEOWNERS:

* @cebarobot @Tang-Haojin

/docs/frontend/ @Gao-Zeyu
/docs/backend/ @Tang-Haojin
/docs/memblock/ @linjuanZ
/docs/cache/ @linjuanZ
