Repository OpenXiangShan/XiangShan-Design-Doc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cebarobot, @Tang-Haojin, @Gao-Zeyu, @linjuanZ

docs(ICache): rename IPrefetchPipe to PrefetchPipe
  docs/en/frontend/ICache/CtrlUnit.md
  docs/en/frontend/ICache/MainPipe.md
  docs/en/frontend/ICache/PrefetchPipe.md
  docs/en/frontend/ICache/WayLookup.md
  docs/en/frontend/ICache/index.md
  docs/zh/frontend/ICache/.index.md
  docs/zh/frontend/ICache/CtrlUnit.md
  docs/zh/frontend/ICache/MainPipe.md
  docs/zh/frontend/ICache/PrefetchPipe.md
  docs/zh/frontend/ICache/WayLookup.md
  docs/zh/frontend/ICache/index.md
  mkdocs-en.yml
  mkdocs-zh.yml
Owners: @cebarobot, @Tang-Haojin, @Gao-Zeyu

docs(ICache): refresh params list
  docs/zh/frontend/ICache/CtrlUnit.md
  docs/zh/frontend/ICache/index.md
Owners: @Gao-Zeyu

docs(ICache): refresh function desp
  docs/zh/frontend/ICache/.index.md
  docs/zh/frontend/ICache/Array.md
  docs/zh/frontend/ICache/index.md
  docs/zh/frontend/figure/ICache/ICache/ftq_pointer.png
  docs/zh/frontend/figure/ICache/ICache/icache_stages.png
  docs/zh/frontend/figure/ICache/ICache/icache_structure.drawio
  docs/zh/frontend/figure/ICache/ICache/icache_structure.png
  docs/zh/frontend/figure/ICache/ICache/pipeline.png
  docs/zh/frontend/figure/ICache/ICache/prefetch_mux.drawio
  docs/zh/frontend/figure/ICache/ICache/prefetch_mux.drawio.png
  docs/zh/frontend/figure/ICache/ICache/prefetch_source.png
  mkdocs-zh.yml
Owners: @Gao-Zeyu, @cebarobot, @Tang-Haojin

docs(ICache): add v3 features
  docs/zh/frontend/ICache/Array.md
  docs/zh/frontend/ICache/PrefetchPipe.md
  docs/zh/frontend/ICache/WayLookup.md
  docs/zh/frontend/ICache/index.md
  docs/zh/frontend/figure/ICache/2prefetch_conflict.png
  docs/zh/frontend/figure/ICache/ICache/dataarray_bank.png
  docs/zh/frontend/figure/ICache/ICache/dataarray_bank_read_multiline.png
  docs/zh/frontend/figure/ICache/ICache/dataarray_bank_read_singleline.png
  docs/zh/frontend/figure/ICache/IPrefetchPipe/iprefetchpipe_s1_fsm.drawio
  docs/zh/frontend/figure/ICache/IPrefetchPipe/iprefetchpipe_s1_fsm.png
  docs/zh/frontend/figure/ICache/IPrefetchPipe/iprefetchpipe_structure.drawio
  docs/zh/frontend/figure/ICache/IPrefetchPipe/iprefetchpipe_structure.png
  docs/zh/frontend/figure/ICache/WayLookup/waylookup_structure.drawio
  docs/zh/frontend/figure/ICache/WayLookup/waylookup_structure_rw.png
  docs/zh/frontend/figure/ICache/WayLookup/waylookup_structure_update.png
  docs/zh/frontend/figure/ICache/pipeline.png
  docs/zh/frontend/figure/ICache/prefetchPipe_s1fsm.png
  docs/zh/frontend/figure/ICache/prefetch_source.png
Owners: @Gao-Zeyu

docs(ICache): add meta/data array doc
  docs/zh/frontend/ICache/Array.md
  docs/zh/frontend/ICache/index.md
  docs/zh/frontend/figure/ICache/ICache.drawio
  docs/zh/frontend/figure/ICache/dataArray_bank.png
  docs/zh/frontend/figure/ICache/dataArray_large_fb.png
  docs/zh/frontend/figure/ICache/metaArray_interleave.png
Owners: @Gao-Zeyu

docs(ICache): fix some formatting issue
  docs/en/frontend/ICache/index.md
  docs/zh/frontend/ICache/PrefetchPipe.md
  docs/zh/frontend/ICache/index.md
Owners: @cebarobot, @Tang-Haojin, @Gao-Zeyu

docs(ICache): rewrite mainPipe & add 2prefetch to prefetchPipe
  docs/en/frontend/ICache/MainPipe.md
  docs/en/frontend/ICache/PrefetchPipe.md
  docs/en/frontend/figure/ICache/MainPipe/mainpipe_structure.drawio
  docs/en/frontend/figure/ICache/MainPipe/mainpipe_structure.png
  docs/shared/frontend/figure/ICache/MainPipe/mainpipe_structure.drawio
  docs/shared/frontend/figure/ICache/MainPipe/mainpipe_structure.png
  docs/zh/frontend/ICache/MainPipe.md
  docs/zh/frontend/ICache/PrefetchPipe.md
  docs/zh/frontend/figure/ICache/MainPipe/mainpipe_structure.drawio
  docs/zh/frontend/figure/ICache/MainPipe/mainpipe_structure.png
Owners: @cebarobot, @Tang-Haojin, @Gao-Zeyu

docs(ICache): rewrite en version of CtrlUnit by copilot
  docs/en/frontend/ICache/CtrlUnit.md
Owners: @cebarobot, @Tang-Haojin

ci: enable pdf build for kunminghu-v3
  .github/workflows/build-pandoc.yml
Owners: @cebarobot, @Tang-Haojin

docs(ICache): rewrite missUnit & replacer
  docs/en/frontend/ICache/Array.md
  docs/en/frontend/ICache/MissUnit.md
  docs/en/frontend/ICache/Replacer.md
  docs/en/frontend/figure/ICache/MissUnit/missunit_structure.drawio
  docs/en/frontend/figure/ICache/MissUnit/missunit_structure.png
  docs/en/frontend/figure/ICache/Replacer/plru.png
  docs/en/frontend/figure/ICache/missUnit.png
  docs/en/frontend/figure/ICache/plru.png
  docs/shared/frontend/figure/ICache/MissUnit/missunit_structure.drawio
  docs/shared/frontend/figure/ICache/MissUnit/missunit_structure.png
  docs/shared/frontend/figure/ICache/Replacer/plru.png
  docs/shared/frontend/figure/ICache/missUnit.png
  docs/shared/frontend/figure/ICache/plru.png
  docs/zh/frontend/ICache/Array.md
  docs/zh/frontend/ICache/MissUnit.md
  docs/zh/frontend/ICache/Replacer.md
  docs/zh/frontend/figure/ICache/ICache.drawio
  docs/zh/frontend/figure/ICache/MissUnit/missunit_structure.drawio
  docs/zh/frontend/figure/ICache/MissUnit/missunit_structure.png
  docs/zh/frontend/figure/ICache/Replacer/plru.png
  docs/zh/frontend/figure/ICache/missUnit.png
  docs/zh/frontend/figure/ICache/plru.png
Owners: @cebarobot, @Tang-Haojin, @Gao-Zeyu

docs(ICache): fix en toc
  mkdocs-en.yml
Owners: @cebarobot, @Tang-Haojin

docs(ICache): fix references & tweak table column width
  docs/en/frontend/ICache/Array.md
  docs/en/frontend/ICache/CtrlUnit.md
  docs/en/frontend/ICache/MainPipe.md
  docs/en/frontend/ICache/PrefetchPipe.md
  docs/en/frontend/ICache/Replacer.md
  docs/en/frontend/ICache/index.md
  docs/zh/frontend/ICache/Array.md
  docs/zh/frontend/ICache/CtrlUnit.md
  docs/zh/frontend/ICache/MainPipe.md
  docs/zh/frontend/ICache/PrefetchPipe.md
  docs/zh/frontend/ICache/Replacer.md
  docs/zh/frontend/ICache/index.md
Owners: @cebarobot, @Tang-Haojin, @Gao-Zeyu

docs(ICache): simplify section title
  docs/en/frontend/ICache/Array.md
  docs/en/frontend/ICache/CtrlUnit.md
  docs/en/frontend/ICache/MainPipe.md
  docs/en/frontend/ICache/MissUnit.md
  docs/en/frontend/ICache/PrefetchPipe.md
  docs/en/frontend/ICache/Replacer.md
  docs/en/frontend/ICache/WayLookup.md
  docs/en/frontend/ICache/index.md
  docs/zh/frontend/ICache/.index.md
  docs/zh/frontend/ICache/Array.md
  docs/zh/frontend/ICache/CtrlUnit.md
  docs/zh/frontend/ICache/MainPipe.md
  docs/zh/frontend/ICache/MissUnit.md
  docs/zh/frontend/ICache/PrefetchPipe.md
  docs/zh/frontend/ICache/Replacer.md
  docs/zh/frontend/ICache/WayLookup.md
  docs/zh/frontend/ICache/index.md
Owners: @cebarobot, @Tang-Haojin, @Gao-Zeyu

docs(ICache): add labels for future use
  docs/en/frontend/ICache/Array.md
  docs/en/frontend/ICache/CtrlUnit.md
  docs/en/frontend/ICache/MainPipe.md
  docs/en/frontend/ICache/MissUnit.md
  docs/en/frontend/ICache/PrefetchPipe.md
  docs/en/frontend/ICache/Replacer.md
  docs/en/frontend/ICache/WayLookup.md
  docs/en/frontend/ICache/index.md
  docs/zh/frontend/ICache/Array.md
  docs/zh/frontend/ICache/CtrlUnit.md
  docs/zh/frontend/ICache/MainPipe.md
  docs/zh/frontend/ICache/MissUnit.md
  docs/zh/frontend/ICache/PrefetchPipe.md
  docs/zh/frontend/ICache/Replacer.md
  docs/zh/frontend/ICache/WayLookup.md
  docs/zh/frontend/ICache/index.md
Owners: @cebarobot, @Tang-Haojin, @Gao-Zeyu

docs(BPU): v3 skeleton
  docs/en/frontend/BPU/abtb.md
  docs/en/frontend/BPU/history.md
  docs/en/frontend/BPU/index.md
  docs/en/frontend/BPU/ittage.md
  docs/en/frontend/BPU/mbtb.md
  docs/en/frontend/BPU/ras.md
  docs/en/frontend/BPU/saturateCounter.md
  docs/en/frontend/BPU/sc.md
  docs/en/frontend/BPU/tage.md
  docs/en/frontend/BPU/ubtb.md
  docs/en/frontend/BPU/utage.md
  docs/zh/frontend/BPU/history.md
  docs/zh/frontend/BPU/index.md
  docs/zh/frontend/BPU/saturateCounter.md
  mkdocs-en.yml
  mkdocs-zh.yml
Owners: @cebarobot, @Tang-Haojin, @Gao-Zeyu

docs(BPU): fix toc
  mkdocs-en.yml
  mkdocs-zh.yml
Owners: @cebarobot, @Tang-Haojin

ci: enable pdf build for kunminghu-v3 (#125)
  .github/workflows/build-pandoc.yml
Owners: @cebarobot, @Tang-Haojin

docs(BPU): unify caps with code
  docs/en/frontend/BPU/fallThrough.md
  docs/en/frontend/BPU/index.md
  docs/zh/frontend/BPU/.index.md
  docs/zh/frontend/BPU/fallThrough.md
  docs/zh/frontend/BPU/index.md
Owners: @cebarobot, @Tang-Haojin, @Gao-Zeyu

docs(ICache): fix flush table
  docs/en/frontend/ICache/index.md
  docs/zh/frontend/ICache/index.md
Owners: @cebarobot, @Tang-Haojin, @Gao-Zeyu

translate(English): translate Design Doc - frontend/BPU/index via Weblate
  docs/en/backend/DataPath/DataPath.md
  docs/en/backend/ExuBlock/ExuUnit.md
  docs/en/backend/FunctionUnit/IntFunctionUnit.md
  docs/en/backend/HPM.md
  docs/en/backend/VFPU.md
  docs/en/cache/l2cache/CoupledL2.md
  docs/en/cache/l2cache/Error.md
  docs/en/cache/l2cache/MSHR.md
  docs/en/cache/l2cache/downstream/RXSNP.md
  docs/en/frontend/BPU/FTB.md
  docs/en/frontend/BPU/ITTAGE.md
  docs/en/frontend/BPU/TAGE-SC.md
  docs/en/frontend/BPU/index.md
  docs/en/frontend/IFU/PreDecoder.md
  docs/en/frontend/IFU/index.md
  docs/en/memblock/DCache/Error.md
  docs/en/memblock/LSU/LSQ/LoadQueueReplay.md
  docs/en/memblock/LSU/LSQ/StoreQueue.md
  docs/en/memblock/MMU/L1TLB.md
  docs/en/memblock/MMU/L2TLB/HPTW.md
  docs/en/memblock/MMU/L2TLB/LLPTW.md
  docs/en/memblock/MMU/L2TLB/MissQueue.md
  docs/en/memblock/MMU/L2TLB/PageCache.md
  docs/en/memblock/MMU/L2TLB/index.md
  docs/en/memblock/MMU/PMP-PMA.md
  docs/en/memblock/MMU/Repeater.md
  docs/en/memblock/MMU/index.md
Owners: @cebarobot, @Tang-Haojin

translate: update translations from Weblate (#85)
  docs/en/backend/DataPath/DataPath.md
  docs/en/backend/ExuBlock/ExuUnit.md
  docs/en/backend/FunctionUnit/IntFunctionUnit.md
  docs/en/backend/HPM.md
  docs/en/backend/VFPU.md
  docs/en/cache/l2cache/CoupledL2.md
  docs/en/cache/l2cache/Error.md
  docs/en/cache/l2cache/MSHR.md
  docs/en/cache/l2cache/downstream/RXSNP.md
  docs/en/frontend/BPU/FTB.md
  docs/en/frontend/BPU/ITTAGE.md
  docs/en/frontend/BPU/TAGE-SC.md
  docs/en/frontend/BPU/index.md
  docs/en/frontend/IFU/PreDecoder.md
  docs/en/frontend/IFU/index.md
  docs/en/memblock/DCache/Error.md
  docs/en/memblock/LSU/LSQ/LoadQueueReplay.md
  docs/en/memblock/LSU/LSQ/StoreQueue.md
  docs/en/memblock/MMU/L1TLB.md
  docs/en/memblock/MMU/L2TLB/HPTW.md
  docs/en/memblock/MMU/L2TLB/LLPTW.md
  docs/en/memblock/MMU/L2TLB/MissQueue.md
  docs/en/memblock/MMU/L2TLB/PageCache.md
  docs/en/memblock/MMU/L2TLB/index.md
  docs/en/memblock/MMU/PMP-PMA.md
  docs/en/memblock/MMU/Repeater.md
  docs/en/memblock/MMU/index.md
Owners: @cebarobot, @Tang-Haojin

translate: update Design Doc - backend/CtrlBlock/decode via Weblate
  docs/en/backend/CtrlBlock/decode.md
Owners: @cebarobot, @Tang-Haojin

docs(ICache): fix some reference mistakes
  docs/en/frontend/ICache/Replacer.md
  docs/en/frontend/ICache/WayLookup.md
  docs/en/frontend/ICache/index.md
  docs/zh/frontend/ICache/Replacer.md
  docs/zh/frontend/ICache/WayLookup.md
  docs/zh/frontend/ICache/index.md
Owners: @cebarobot, @Tang-Haojin, @Gao-Zeyu

docs(Bpu): add missing table label
  docs/en/frontend/BPU/index.md
  docs/zh/frontend/BPU/index.md
Owners: @cebarobot, @Tang-Haojin, @Gao-Zeyu

.github/CODEOWNERS:

* @cebarobot @Tang-Haojin

/docs/zh/frontend/ @Gao-Zeyu
/docs/zh/backend/ @Tang-Haojin
/docs/zh/memblock/ @linjuanZ
/docs/zh/cache/ @linjuanZ
