Repository OpenXiangShan/XiangShan-Design-Doc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cebarobot, @Tang-Haojin, @Gao-Zeyu, @linjuanZ

Translated using Weblate (English)
  docs/en/index.md
Owners: @cebarobot, @Tang-Haojin

Added translation using Weblate (English)
  docs/en/backend/CSR.md
  docs/en/backend/HPM.md
  docs/en/cache/l2cache/downstream/RXRSP.md
  docs/en/memblock/MMU/L2TLB/LLPTW.md
Owners: @cebarobot, @Tang-Haojin

docs: add weblate infomation
  README.md
  README.zh.md
  docs/zh/index.md
Owners: @cebarobot, @Tang-Haojin

build: enable mkdocs and pandoc build for en
  .github/workflows/build-pandoc.yml
  Makefile
  docs/pandoc-main-en.md
  docs/variables-en.yml
  mkdocs-en.yml
Owners: @cebarobot, @Tang-Haojin

build: use matrix for github action
  .github/workflows/build-pandoc.yml
Owners: @cebarobot, @Tang-Haojin

build: enable language selector
  mkdocs-en.yml
  mkdocs-zh.yml
Owners: @cebarobot, @Tang-Haojin

build: add version selector
  mkdocs-en.yml
  mkdocs-zh.yml
  mkdocs.yml
Owners: @cebarobot, @Tang-Haojin

build: fix mkdocs.yml default value
  mkdocs.yml
Owners: @cebarobot, @Tang-Haojin

build: disable version selector
  mkdocs-en.yml
  mkdocs-zh.yml
Owners: @cebarobot, @Tang-Haojin

Update translation files
  docs/en/index.md
Owners: @cebarobot, @Tang-Haojin

build: add back-to-home button
  mkdocs-en.yml
  mkdocs-zh.yml
Owners: @cebarobot, @Tang-Haojin

Translated using Weblate (English)
  docs/en/index.md
  docs/en/memblock/DCache/MainPipe.md
  docs/en/memblock/DCache/WritebackQueue.md
  docs/en/memblock/DCache/index.md
  docs/en/memblock/LSU/VLSU/index.md
  docs/en/memblock/LSU/index.md
  docs/en/memblock/MMU/L1TLB.md
  docs/en/memblock/MMU/Repeater.md
Owners: @cebarobot, @Tang-Haojin

Translated using Weblate (English)
  docs/en/backend/HPM.md
  docs/en/cache/l2cache/DataStorage.md
  docs/en/cache/l2cache/MMIOBridge.md
  docs/en/frontend/BPU/FTB.md
  docs/en/frontend/BPU/uFTB.md
  docs/en/memblock/LSU/VLSU/VSMergeBuffer.md
  docs/en/memblock/MMU/L2TLB/HPTW.md
  docs/en/memblock/MMU/L2TLB/MissQueue.md
  docs/en/memblock/MMU/L2TLB/PTW.md
  docs/en/memblock/MMU/L2TLB/PageCache.md
  docs/en/memblock/MMU/L2TLB/Prefetcher.md
  docs/en/memblock/MMU/L2TLB/index.md
Owners: @cebarobot, @Tang-Haojin

docs: translation for nav in mkdocs-en.yml
  mkdocs-en.yml
Owners: @cebarobot, @Tang-Haojin

docs(prefetch): add stream
  docs/memblock/Prefetch/.index.md
  docs/memblock/Prefetch/figure/stream-frame.png
  docs/memblock/Prefetch/figure/stream-how-to-work.png
  docs/memblock/Prefetch/figure/stream-structure.png
  docs/memblock/Prefetch/figure/stream-timing1.png
  docs/memblock/Prefetch/stream.md
Owners: @cebarobot, @Tang-Haojin

ci: add an action for release
  .github/workflows/build-pandoc.yml
  .github/workflows/release.yml
Owners: @cebarobot, @Tang-Haojin

github: create documentation bug report template
  .github/ISSUE_TEMPLATE/document-bug.yml
Owners: @cebarobot, @Tang-Haojin

github: add contact link for XiangShan Processor issues
  .github/ISSUE_TEMPLATE/config.yml
Owners: @cebarobot, @Tang-Haojin

ci: add ci workflow for issue comment commands
  .github/workflows/issue-command.yml
Owners: @cebarobot, @Tang-Haojin

ci: use issue 88 as task list
  .github/workflows/issue-command.yml
Owners: @cebarobot, @Tang-Haojin

translate: update Design Doc - memblock/MMU/L2TLB/PageCache via Weblate
  docs/en/backend/ExuBlock/ExuUnit.md
  docs/en/backend/FunctionUnit/IntFunctionUnit.md
  docs/en/cache/l2cache/CoupledL2.md
  docs/en/cache/l2cache/MSHR.md
  docs/en/memblock/MMU/L1TLB.md
  docs/en/memblock/MMU/L2TLB/HPTW.md
  docs/en/memblock/MMU/L2TLB/LLPTW.md
  docs/en/memblock/MMU/L2TLB/MissQueue.md
  docs/en/memblock/MMU/L2TLB/PageCache.md
  docs/en/memblock/MMU/PMP-PMA.md
  docs/en/memblock/MMU/Repeater.md
  docs/en/memblock/MMU/index.md
Owners: @cebarobot, @Tang-Haojin

fix(frontend/BPU): fix wrong description of ITTAGE
  docs/zh/frontend/BPU/ITTAGE.md
Owners: @Gao-Zeyu

docs: init v3 bpu & fallthrough
  docs/zh/frontend/BPU/.index.md
  docs/zh/frontend/BPU/Composer.md
  docs/zh/frontend/BPU/FTB.md
  docs/zh/frontend/BPU/FallThrough.md
  docs/zh/frontend/BPU/ITTAGE.md
  docs/zh/frontend/BPU/RAS.md
  docs/zh/frontend/BPU/TAGE-SC.md
  docs/zh/frontend/BPU/index.md
  docs/zh/frontend/BPU/uFTB.md
Owners: @Gao-Zeyu

fix some format errors
  docs/zh/cache/l2cache/Error.md
Owners: @linjuanZ

add symbols
  docs/zh/cache/l2cache/Error.md
Owners: @linjuanZ

fix some rendering issues
  docs/zh/backend/VFPU.md
Owners: @Tang-Haojin

docs(ibuffer): finish skeleton
  docs/en/frontend/IBuffer/index.md
  docs/zh/frontend/IBuffer/.index.md
  docs/zh/frontend/IBuffer/index.md
  docs/zh/frontend/figure/IBuffer/deq-wave.png
  docs/zh/frontend/figure/IBuffer/enq-wave-bypass.png
  docs/zh/frontend/figure/IBuffer/enq-wave.png
  docs/zh/frontend/figure/IBuffer/ibuf-deq-1.png
  docs/zh/frontend/figure/IBuffer/ibuf-deq-2.png
  docs/zh/frontend/figure/IBuffer/ibuf-enq.png
  docs/zh/frontend/figure/IBuffer/ibuffer.svg
  mkdocs-en.yml
  mkdocs-zh.yml
Owners: @cebarobot, @Tang-Haojin, @Gao-Zeyu

fix some formatting issues
  docs/zh/frontend/BPU/FTB.md
Owners: @Gao-Zeyu

fix(Ittage): delete unnecessary blanks
  docs/zh/frontend/BPU/ITTAGE.md
Owners: @Gao-Zeyu

docs(IFU): v3 ifu
  docs/zh/frontend/IFU/.index.md
  docs/zh/frontend/IFU/PreDecoder.md
  docs/zh/frontend/IFU/ifuAlign.md
  docs/zh/frontend/IFU/ifuTrigger.md
  docs/zh/frontend/IFU/ifuUncacheUnit.md
  docs/zh/frontend/IFU/index.md
  docs/zh/frontend/IFU/instrBoundary.md
  docs/zh/frontend/IFU/instrCompact.md
  docs/zh/frontend/IFU/preDecoder.md
  docs/zh/frontend/IFU/predChecker.md
  docs/zh/frontend/figure/IFU/ifu-structure.svg
  docs/zh/frontend/figure/IFU/instr-align.svg
  docs/zh/frontend/figure/IFU/instr-align1.svg
  docs/zh/frontend/figure/IFU/instrBoundary-1.svg
  docs/zh/frontend/figure/IFU/instrBoundary.svg
  docs/zh/frontend/figure/IFU/predChecker_structure.svg
  docs/zh/frontend/figure/IFU/prevIBufferEnqPtr.svg
  docs/zh/frontend/figure/IFU/uncache_fsm.svg
Owners: @Gao-Zeyu

docs(ibuffer): add exception
  docs/zh/frontend/IBuffer/index.md
Owners: @Gao-Zeyu

fix(frontend/BPU): fix wrong description of ITTAGE (#89)
  docs/zh/frontend/BPU/ITTAGE.md
Owners: @Gao-Zeyu

fix(VFPU, Error): fix some format issues (#95)
  docs/zh/backend/VFPU.md
  docs/zh/cache/l2cache/Error.md
Owners: @Tang-Haojin, @linjuanZ

docs(prefetch): add monitor
  docs/memblock/Prefetch/.index.md
  docs/memblock/Prefetch/monitor.md
Owners: @cebarobot, @Tang-Haojin

docs(prefetch): add index
  docs/memblock/Prefetch/index.md
Owners: @cebarobot, @Tang-Haojin

docs(prefetch): fix monitor
  docs/memblock/Prefetch/monitor.md
Owners: @cebarobot, @Tang-Haojin

docs(L1TLB): update L1TLB doc
  docs/zh/memblock/MMU/L1TLB.md
Owners: @linjuanZ

fix(L1TLB): fix L1TLB doc format
  docs/zh/memblock/MMU/L1TLB.md
Owners: @linjuanZ

docs(TAGE-SC): fix some format errors (#93)
  docs/zh/frontend/BPU/TAGE-SC.md
Owners: @Gao-Zeyu

Update index.md
  docs/zh/frontend/BPU/index.md
Owners: @Gao-Zeyu

.github/CODEOWNERS:

* @cebarobot @Tang-Haojin

/docs/zh/frontend/ @Gao-Zeyu
/docs/zh/backend/ @Tang-Haojin
/docs/zh/memblock/ @linjuanZ
/docs/zh/cache/ @linjuanZ
