Repository OpenXiangShan/XiangShan-Design-Doc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cebarobot, @Tang-Haojin, @Gao-Zeyu, @linjuanZ

.github/CODEOWNERS:

* @cebarobot @Tang-Haojin

/docs/zh/frontend/ @Gao-Zeyu
/docs/zh/backend/ @Tang-Haojin
/docs/zh/memblock/ @linjuanZ
/docs/zh/cache/ @linjuanZ

FIx(FTB,Error): fix some format errors (#98)
  docs/zh/frontend/BPU/FTB.md
Owners: @Gao-Zeyu

Update index.md (#108)
  docs/zh/frontend/BPU/index.md
Owners: @Gao-Zeyu

docs(zh/IFU): fix typo F0Ff1 -> F0、F1
  docs/zh/frontend/IFU/index.md
Owners: @Gao-Zeyu

docs(RXSNP): fix typo 一下 -> 以下
  docs/zh/cache/l2cache/downstream/RXSNP.md
Owners: @linjuanZ

docs(zh/CoupledL2): fix typo 冲天 -> 重填
  docs/zh/cache/l2cache/CoupledL2.md
Owners: @linjuanZ

docs(zh/CoupledL2): fix typo (#114)
  docs/zh/cache/l2cache/CoupledL2.md
Owners: @linjuanZ

docs(L1TLB): add svpbmt and need_gpa overview, address reviewer comments
  docs/zh/memblock/MMU/L1TLB.md
Owners: @linjuanZ

fix(L1TLB): fix some L1TLB doc format and typo
  docs/zh/memblock/MMU/L1TLB.md
Owners: @linjuanZ

docs(RXSNP): fix typo (#113)
  docs/zh/cache/l2cache/downstream/RXSNP.md
Owners: @linjuanZ

translate: update Design Doc - cache/l2cache/downstream/RXSNP via Weblate
  docs/en/backend/ExuBlock/ExuUnit.md
  docs/en/backend/FunctionUnit/IntFunctionUnit.md
  docs/en/backend/VFPU.md
  docs/en/cache/l2cache/CoupledL2.md
  docs/en/cache/l2cache/Error.md
  docs/en/cache/l2cache/MSHR.md
  docs/en/cache/l2cache/downstream/RXSNP.md
  docs/en/frontend/BPU/FTB.md
  docs/en/frontend/BPU/ITTAGE.md
  docs/en/frontend/BPU/TAGE-SC.md
  docs/en/frontend/BPU/index.md
  docs/en/memblock/MMU/L1TLB.md
  docs/en/memblock/MMU/L2TLB/HPTW.md
  docs/en/memblock/MMU/L2TLB/LLPTW.md
  docs/en/memblock/MMU/L2TLB/MissQueue.md
  docs/en/memblock/MMU/L2TLB/PageCache.md
  docs/en/memblock/MMU/PMP-PMA.md
  docs/en/memblock/MMU/Repeater.md
  docs/en/memblock/MMU/index.md
Owners: @cebarobot, @Tang-Haojin

docs(zh/StoreQueue): fix typo "以来" -> "依赖"
  docs/zh/memblock/LSU/LSQ/StoreQueue.md
Owners: @linjuanZ

fix(L1TLB): fix some typo
  docs/zh/memblock/MMU/L1TLB.md
Owners: @linjuanZ

docs(zh/StoreQueue): fix typo "以来" -> "依赖" (#115)
  docs/zh/memblock/LSU/LSQ/StoreQueue.md
Owners: @linjuanZ

docs(L1TLB): update L1TLB design doc (#111)
  docs/zh/memblock/MMU/L1TLB.md
Owners: @linjuanZ

translate: update Design Doc - memblock/MMU/L1TLB via Weblate
  docs/en/backend/ExuBlock/ExuUnit.md
  docs/en/backend/FunctionUnit/IntFunctionUnit.md
  docs/en/backend/VFPU.md
  docs/en/cache/l2cache/CoupledL2.md
  docs/en/cache/l2cache/Error.md
  docs/en/cache/l2cache/MSHR.md
  docs/en/cache/l2cache/downstream/RXSNP.md
  docs/en/frontend/BPU/FTB.md
  docs/en/frontend/BPU/ITTAGE.md
  docs/en/frontend/BPU/TAGE-SC.md
  docs/en/frontend/BPU/index.md
  docs/en/memblock/LSU/LSQ/StoreQueue.md
  docs/en/memblock/MMU/L1TLB.md
  docs/en/memblock/MMU/L2TLB/HPTW.md
  docs/en/memblock/MMU/L2TLB/LLPTW.md
  docs/en/memblock/MMU/L2TLB/MissQueue.md
  docs/en/memblock/MMU/L2TLB/PageCache.md
  docs/en/memblock/MMU/PMP-PMA.md
  docs/en/memblock/MMU/Repeater.md
  docs/en/memblock/MMU/index.md
Owners: @cebarobot, @Tang-Haojin

docs(zh/IFU): fix typo F0Ff1 -> F0、F1 (#112)
  docs/zh/frontend/IFU/index.md
Owners: @Gao-Zeyu

fix(bpu/ittage): change bypass to writeBuffer in ittageTable
  docs/zh/frontend/BPU/ITTAGE.md
Owners: @Gao-Zeyu

fix(bpu/tage): fix hard-to-understand words
  docs/zh/frontend/BPU/TAGE-SC.md
  docs/zh/frontend/BPU/index.md
Owners: @Gao-Zeyu

fix(ifu/index): fix incorrect description of jalFault
  docs/zh/frontend/IFU/index.md
Owners: @Gao-Zeyu

fix(ifu/index): fix incorrect description of retFault
  docs/zh/frontend/IFU/index.md
Owners: @Gao-Zeyu

fix(ifu/index): add description of jalrFault
  docs/zh/frontend/IFU/index.md
Owners: @Gao-Zeyu

fix(ifu/index): fix typo
  docs/zh/frontend/IFU/index.md
Owners: @Gao-Zeyu

fix(ifu/predecoder): fix typo
  docs/zh/frontend/IFU/PreDecoder.md
Owners: @Gao-Zeyu

Update docs/zh/frontend/BPU/ITTAGE.md
  docs/zh/frontend/BPU/ITTAGE.md
Owners: @Gao-Zeyu

fix(bpu/ittage): change bypass to writeBuffer in ittageTable (#116)
  docs/zh/frontend/BPU/ITTAGE.md
Owners: @Gao-Zeyu

docs(frontend): fix typos & incorrect descriptions (#117)
  docs/zh/frontend/BPU/TAGE-SC.md
  docs/zh/frontend/BPU/index.md
  docs/zh/frontend/IFU/PreDecoder.md
  docs/zh/frontend/IFU/index.md
Owners: @Gao-Zeyu

docs(Repeater): fix a small logic mistake about "Non-block"
  docs/zh/memblock/MMU/Repeater.md
Owners: @linjuanZ

docs(L2TLB): correct typos in L2TLB index.md
  docs/zh/memblock/MMU/L2TLB/index.md
Owners: @linjuanZ

docs(MMU): refine some ITLB content in MMU index.md
  docs/zh/memblock/MMU/index.md
Owners: @linjuanZ

docs: update mmu docs include MMU/ Repeater/ L2TLB/ PageCache (#118)
  docs/zh/memblock/MMU/L2TLB/PageCache.md
  docs/zh/memblock/MMU/L2TLB/index.md
  docs/zh/memblock/MMU/Repeater.md
  docs/zh/memblock/MMU/index.md
Owners: @linjuanZ

docs(hpm): updtae new performance events
  docs/zh/backend/HPM.md
Owners: @Tang-Haojin

Fix line number for MEMSTALL_L2MISS in HPM.md
  docs/zh/backend/HPM.md
Owners: @Tang-Haojin

Fix line numbers in HPM documentation
  docs/zh/backend/HPM.md
Owners: @Tang-Haojin

docs(hpm): update new performance events (#119)
  docs/zh/backend/HPM.md
Owners: @Tang-Haojin

fix(hpm): update date and commit id
  docs/zh/backend/HPM.md
Owners: @Tang-Haojin

fix(hpm): update date and commit id (#120)
  docs/zh/backend/HPM.md
Owners: @Tang-Haojin

translate: update Design Doc - backend/HPM via Weblate
  docs/en/backend/ExuBlock/ExuUnit.md
  docs/en/backend/FunctionUnit/IntFunctionUnit.md
  docs/en/backend/HPM.md
  docs/en/backend/VFPU.md
  docs/en/cache/l2cache/CoupledL2.md
  docs/en/cache/l2cache/Error.md
  docs/en/cache/l2cache/MSHR.md
  docs/en/cache/l2cache/downstream/RXSNP.md
  docs/en/frontend/BPU/FTB.md
  docs/en/frontend/BPU/ITTAGE.md
  docs/en/frontend/BPU/TAGE-SC.md
  docs/en/frontend/BPU/index.md
  docs/en/frontend/IFU/PreDecoder.md
  docs/en/frontend/IFU/index.md
  docs/en/memblock/LSU/LSQ/StoreQueue.md
  docs/en/memblock/MMU/L1TLB.md
  docs/en/memblock/MMU/L2TLB/HPTW.md
  docs/en/memblock/MMU/L2TLB/LLPTW.md
  docs/en/memblock/MMU/L2TLB/MissQueue.md
  docs/en/memblock/MMU/L2TLB/PageCache.md
  docs/en/memblock/MMU/L2TLB/index.md
  docs/en/memblock/MMU/PMP-PMA.md
  docs/en/memblock/MMU/Repeater.md
  docs/en/memblock/MMU/index.md
Owners: @cebarobot, @Tang-Haojin

fix(memblock/LSU): fix a typo
  docs/zh/memblock/LSU/LoadMisalignBuffer.md
Owners: @linjuanZ

fix(memblock/LSU): fix a typo (#122)
  docs/zh/memblock/LSU/LoadMisalignBuffer.md
Owners: @linjuanZ

fix(HPM): ofvec in sountovf is the vec of mhpmevent OF
  docs/zh/backend/HPM.md
Owners: @Tang-Haojin
